body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(236, 253, 233)
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #000000;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

ul li {
    margin-inline-start: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li a {
    color: #050505;
}

h1 {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    border: 2px solid #000000;
    align-items: center;
}

footer {
    padding: 20px;
    border-top: 1px solid #000000;
    margin-top: 20px;

}

@media screen and(max-width:768px) {
    .produto-container {
        width: 100%;
        flex-direction: column;
    }
}

iframe {
    align-self: flex-end;
}

#bloco1 {
    width: 900px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}